body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}

.container {
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #007bff; /* Light blue shade */
}

.pokemon-list {
  list-style: none;
  padding: 0;
  text-align: center; /* Center the buttons */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-list li {
  margin: 12px; /* Adjusted margin */
  width: calc(25% - 24px); /* 25% width with margins considered */
  box-sizing: border-box;
}

.button-class {
  display: inline-block; /* Display buttons inline */
  width: 100%; /* 100% width within each list item */
  padding: 12px; /* Adjusted padding */
  background-color: #007bff; /* Light blue shade */
  color: #fff;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Caveat', cursive; /* Fancy font */
  font-size: 36px; /* Adjusted font size */
}

.button-class:hover {
  background-color: #0056b3; /* Darker blue shade on hover */
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-title {
  color: #007bff; /* Light blue shade */
  font-family: 'Caveat', cursive; /* Fancy font */
  font-size: 24px; /* Adjusted font size */
}

.modal-close {
  background: none;
  border: none;
  font-size: 1.8em; /* Adjusted font size */
  color: #007bff; /* Light blue shade */
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-close:hover {
  color: #0056b3; /* Darker blue shade on hover */
}

.is-visible {
  display: block;
}
